:root {
  --mango: #ff8044;
  --quartz-pink: #c15694;
  --blue-violet: #832BE3;
}

img {
  max-width: 100%;
}

body {
  background-color: white;
  margin: 0;
  color: white;
}

.transition {
  transition: 0.5s;
}

.link, .no-link, .no-link:hover, .no-link:focus {
  text-decoration: none !important;
  color: white !important;
}

.link:hover, .link:focus {
  color: var(--blue-violet) !important;
  text-decoration: none;
}