.menu-show {
  opacity: 1 !important;
  padding: 0 !important;
  width: 100vw;
}

.menu-hide {
  width: 0;
  opacity: 0 !important;
}

.menu-hide > * * {
  display: none !important;
}

#general_info::before, #general_info::after {
  top: 48.5vh;
}

.burger, .burger > div {
  width: 12vw
}

.burger > div {
  background-color: var(--blue-violet);
  height: 1.2vw;
  left: 0
}

.burger-sided {
  top: 3.6vw !important;
  width: 0% !important;
  left: 50% !important;
}

.burger-top {
  height: 0.6vw !important;
  transform: rotate(45deg)
}

.burger-bottom {
  height: 0.6vw !important;
  transform: rotate(-45deg)
}

.section:nth-child(even)::after, .section:nth-child(odd)::before {
  display: none;
}